.swiper-button-next {
  right: 45px;
}
.swiper-button-prev {
  left: 45px;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  color: #ffba08;
}

span.swiper-pagination-bullet {
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 16px)
  );
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 16px)
  );
  display: inline-block;
  border-radius: 50%;
  background: var(--swiper-pagination-bullet-inactive-color, #999);
}

span.swiper-pagination-bullet-active {
  background: #ffba08;
}

.swiper-wrapper {
  transition-duration: 0ms; 
  transform: translate3d(-1240px, 0px, 0px);
}


@media (max-width: 30em) {
  .swiper-button-next {
    right: 15px;
  }
  .swiper-button-prev {
    left: 15px;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 1.2rem;
  }

  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }
}
